.contentbox {
    width: 70%;
    margin: 0 auto;    
    padding: 30px 20px;
    text-align: center;    
}

.img {
    width: 60%;
    height: 450px;
    border-radius: 10px;
}

.button {
    border: none;
    border-radius: 20px;
    background-color: #3A3845;
    color: white;
    width: 130px;
    height: 35px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.text {
    width: 60%;
    text-align: left;
    margin: 0 auto;
}

.icon {
    width: 30px;
    height: 40px;
    margin-right: 10px;
}

.flex_icon{
    display: flex;
    align-items: center;    
}
